@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Import Partner Countries</h1>

<p>
    <a asp-action="Create">Add a Country</a>
</p>
<br/>
<table class="table" style="background-color: #87ccc9">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @await Component.InvokeAsync("CountryMenu")
    </tbody>
</table>
