@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Suppliers</h1>

<p>
    <a asp-action="Create">Add a Supplier</a>
</p>

<form asp-action="Index" asp-controller="Suppliers" method="get" style="width: 500px ">
    <div class="form-group">
        <label asp-for="SearchSupplier" class="control-label"> Search a Supplier</label>
        <input asp-for="SearchSupplier" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table" style="background-color: #87ccc9">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("SupplierMenu")
        }

    </tbody>
</table>
