@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Suppliers</h1>

<p>
    <a asp-action="Create">Add a Supplier</a>
</p>

<br/>

<table class="table" style="background-color: #87ccc9">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("SupplierMenu")
        }

    </tbody>
</table>
